{% extends 'base.html' %}
{% load static %}
{% block title %}Carrinho{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-info">
            <h3>Carrinho de Compras</h3>
        </div>
        <div class="row">
        <a class="col-md-4">Produto</a> <a class="col-md-2">Quantidade</a> <a
        class="col-md-2">Preço</a> <a class="col-md-2">Total</a> </div>
        {% if itens %}
            {% for item in itens %}
                <div class="row carrinho-item">
                    <a class="col-md-4"> {{ item.produto.Produto }}</a>
                    <div class="col-md-2">
                        <!-- Botão para diminuir -->
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary btn-menos">
                            -
                        </button>
                        <!-- Quantidade -->
                        <input
                            class="quantidade"
                            type="number"
                            min="1"
                            step="1"
                            value="{{ item.quantidade }}"
                            data-preco="{{ item.preco }}"
                        >
                        <!-- Botão para aumentar -->
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary btn-mais">
                            +
                        </button>
                    </div>

                    <a class="col-md-2">R$ {{ item.preco|floatformat:2 }}</a>
                    <a class="col-md-2">R$ {{ item.total }}</a>
                    <a class="col-md-2"> <form method="POST" action="{% url 'remover_carrinhoitem' item.id%}" style="display:inline;"> {% csrf_token %} <button type="submit" class="btn btn-danger">Excluir</button> </form> </a>
                </div>
            {% endfor %}
            <h5 class="mt-4">Total: R$ <span id="total-carrinho"> {{ carrinho.total|floatformat:2 }} </span></h3>
            <div class="mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary">Voltar à loja</a>
                <a href="{% url 'confirmar_carrinho' %}" class="btn btn-success">Finalizar Compra</a>
            </div>
        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                Seu carrinho está vazio.
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Ir à loja</a>
        {% endif %}
    </div>
</div>

<script>

    const itensCarrinho = document.querySelectorAll('.carrinho-item');

    itensCarrinho.forEach(function(item) {
        const itemId = item.dataset.itemId;

        const botaoMenos = item.querySelector('.btn-menos');
        const botaoMais = item.querySelector('.btn-mais');
        const quantidadeInput = item.querySelector('.quantidade');
        const totalProduto = item.querySelector('.total-produto');
        const preco = parseFloat(quantidadeInput.dataset.preco);

        function salvarQuantidade(quantidade) {
            //os dados a seguir são "próximos" ao context. nesse caso ele funcionará como um pequeno post
            const dados = new URLSearchParams();
            dados.append('quantidade', quantidade );

            const csrfToken = document.querySelector( '[name=csrfmiddlewaretoken]' ).value;

            //Quem envia os dados para o Django resolver no BD é o Fetch
            fetch(
                `/carrinho/atualizar/${itemId}/`,
                {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type':'application/x-www-form-urlencoded',
                    },
                    body: dados
                }
            )

            //abaixo recebe a resposta do django
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                //se erro
                if (data.erro) {
                    alert(data.erro);
                    return;
                }
                // se não deu erro ao gravar no banco, atualizamos a quantidade e total do produto
                quantidadeInput.value = data.quantidade;
                totalProduto.textContent ='R$ ' + data.total_item.toFixed(2).replace('.', ',');

                // Atualizamos o total do carrinho
                document.querySelector(
                    '#total-carrinho'
                ).textContent =
                    data.total_carrinho
                        .toFixed(2)
                        .replace('.', ',');

            })


            // ==================================================
            // TRATAMENTO DE ERRO DE COMUNICAÇÃO
            // ==================================================
            .catch(function(error) {
                console.error(
                    'Erro ao atualizar quantidade:',
                    error
                );
                alert(
                    'Não foi possível atualizar o carrinho.'
                );
            });
        }

        botaoMais.addEventListener('click', function() {
                let quantidade = parseInt(quantidadeInput.value);
                quantidade++;
                quantidadeInput.value = quantidade;
                salvarQuantidade(quantidade);
            }
        );
        botaoMenos.addEventListener('click', function() {
                let quantidade =parseInt(quantidadeInput.value);
                // Nunca deixamos chegar a zero
                if (quantidade <= 1) { return; }

                quantidade--;
                quantidadeInput.value = quantidade;
                salvarQuantidade( quantidade );
            }
        );


        // __________________Para o usuário digitar diretamente no input
        quantidadeInput.addEventListener('change', function() {
                let quantidade = parseInt(quantidadeInput.value);
                if (isNaN(quantidade) ||quantidade < 1) {
                    quantidade = 1;
                    quantidadeInput.value = 1;
                }
                salvarQuantidade( quantidade );
            }
        );
    });
</script>

{% endblock %}
