{% extends 'base.html' %}
{% load static %}
{% block title %}Favoritos{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-info">
            <h3>Meus favoritos</h3>
        </div>
        <div class="row">
        <a class="col-md-4">Produto</a><a class="col-md-2">Preço</a>
        </div>
        {% if itens %}
            {% for item in itens %}
                <div class="row">
                    <a class="col-md-4"> {{ item.produto.Produto }}</a>
                    <a class="col-md-2">R$ {{ item.preco|floatformat:2 }}</a>
                    <a href="{% url 'create_carrinhoitem' item.produto_id %}" class="btn btn-primary mb-2 mr-2">
                        <i class="fa fa-plus"></i> Comprar
                    </a>
                    <a class="col-md-2"> <form method="POST" action="{% url 'remover_favoritoitem' item.id%}" style="display:inline;"> {% csrf_token %} 
                        <button type="submit" class="btn btn-danger">Excluir</button> </form> 
                    </a>
                
                </div>
            {% endfor %}
            <div class="mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary">Voltar à loja</a>
            </div>
        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                Sua lista de favoritos está vazia.
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Ir à loja</a>
        {% endif %}
    </div>
</div>
{% endblock %}
